ENVIRONMENT=dev
LOG_LEVEL=INFO

# LLM configuration
OPENAI_API_KEY=<open api key>
OPENAI_MODEL=gpt-4o-mini

# Vector store
VECTOR_DB_PATH=./storage/vector_db
EMBEDDING_MODEL_NAME=sentence-transformers/all-MiniLM-L6-v2

# API server
API_HOST=0.0.0.0
API_PORT=8000

